.nav {
	background-color: rgba(0,0,2,0.9);
	position: fixed;
	float: right;
	position: relative;
  
	  top: 0%;
	  left: 0%;
	  transform: translate(-50%, -50%);
	  padding: 200px;
	 margin-top: 600px;
}




.a{
    top: 20px;
	font-size: 1vh;
	font-size: 1.5vw;
	color:white;
	margin-right: 1%;
	text-decoration: none;
    margin bottom: 10px;
	padding-bottom: 0.3%;
	margin-top: 20%;
font-family: 'Karla', sans-serif;




}
#welcome{
	margin-left: 350px;
	

}

.absolute{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
body{
	font-size: 10px;
	line-height: 1.42857143;
	color: #333333;
	background: #f0f0f0;
	overflow-x:hidden;
}

#top{
	background: white;
	padding: 30px 0px;
	margin-top: 30px;
	

}

#top .offer{
	color: #ffffff;
}

#top .offer .btn{
       
       text-transform: uppercase;
   }
  @media(max-width:991px){
  	#top .offer{
  		margin-bottom: 50px;
  	}
  }

  @media(max-width: 991px){

  	#top{
  		font-size: 18px;
  		text-align: center;
  	}
  }


#top a{
	color: #ffffff;
}
#top ul.menu{
	
	margin: 0px;
	text-align:right;
	font-size: 20px;
	list-style:none;
}
  	
 @media(max-width:991px){
 	#top ul.menu{
 		text-align: center;
 	}
 }
 #top ul.menu > li{
 	display: inline-block;
 }

  #top ul.menu > li a{
  	color: #eeeeee;
  }

 #top ul.menu>li +li:before{
 	content: "|\00a0";
 	color: #f7f7f7;
 	padding: 0 10px;

 }
.offer{
	margin-bottom:8px;

	
}


